<div class="exposes row">
  {% for expose in exposes %}
    <div class="expose col-md-6 col-lg-4">
      <div class="expose-content mx-1 my-3">
        <p>{{ expose['price'] }}, {{expose['rooms']}} rooms, {{expose['size']}} from {{expose['from']}}</p>
        <a href="{{ expose['url'] }}" target="_blank">
          {% set expose_img_src = expose['image'] if expose['image'] else url_for('static', filename='placeholder.png') %}
          <img src="{{ expose_img_src }}" alt="{{ expose['title'] }} thumbnail">
        </a>
        <h3><a href="{{ expose['url'] }}" rel="noreferrer" target="_blank">{{ expose['title'] }}</a></h3>
      </div>
    </div>
  {% endfor %}
</div>
